@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

input[type=text]::placeholder {
  font-weight: 700;
  color: #EEEEEE;
  font-family: 'Lato',
}

.FriendLink {
  text-decoration: none;
  color: #3C444B;
}

.FriendList:hover{
  background-color: #f7f8fa;
  border-radius: 5%;
}

.FriendListActive{
  background-color: #f7f8fa;
  border-radius: 5%;
}

.ChannelLink {
  text-decoration: none;
  color: #3C444B;
}

.ChannelList:hover{
  background-color: #f7f8fa;
  border-radius: 5%;
}

.ChannelListActive{
  background-color: #f7f8fa;
  border-radius: 5%;
}

.UserParticipantLink {
  text-decoration: none;
  color: #3C444B;
}
